@font-face {
    font-family: bigNoodleTitling;
    src: url("fonts/big_noodle_titling.ttf");
}

:root {
    --strings: rgb(102, 179, 131);
    --woods: rgb(111, 190, 221);
    --gray: rgb(72, 80, 89);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    padding: 0;
    margin: 0;
}

section {   
    min-height: 100vh; 
    margin: 0;
    padding: 48px;
}

nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 8px var(--gray);
    z-index: 10;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li{
    height: 100%;
    padding: 24px;
}

nav ul li a {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--gray);
}

nav ul li a:hover {
    font-weight: 700;
}

h1 {
    color: var(--gray);
    text-align: center;
    font-family: bigNoodleTitling;
    font-size: 800%;
    letter-spacing: 0.05em;
    margin-bottom: 0;
}

h2 {
    color: var(--gray);
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 0.6em;
}

p {
    color: var(--gray);
    font-size: 1.2em;
}

table {
    margin-top: 6em;
    width: 100%;
    border: 1px solid var(--gray);
    color: var(--gray);
    padding: 1em;
}

td {
    text-align: center;
}

table .label {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-90deg);
    width:  0;
    z-index: 0;
}

table .instrument {
    text-align: right;
    width: 0;
    padding-right: 1em;
}

table .range-strings {
    background-color: var(--strings);
}

table .range-woods {
    background-color: var(--woods);
}

table .h-line {
    border-bottom: 1px solid var(--gray);
    height: 3px;
}

table .gap {
    height: 2px;
}

#sec-home h1{
   font-size: 1600%; 
}

footer {
    background-color: var(--gray);
    text-align: center;
    padding: 16px 0;
}

